## remove_outliers 

Goal is to remove any request submitted before the shift starts, or after the shift ends. This should only be a problem with past data, as anything newer has the room password feature.

In [1]:
%run labqueue_common.ipynb

In [2]:
df = preprocess_dates_in_csv(pd.read_csv("labqueue_anon.csv"))

In [3]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'course', 'description', 'is_open',
       'location', 'pk', 'time_accepted', 'time_closed', 'time_created',
       ...
       'sem_week_6', 'sem_week_fallspringbreak', 'sem_week_7', 'sem_week_8',
       'sem_week_9', 'sem_week_10', 'sem_week_11', 'sem_week_12',
       'sem_week_13', 'sem_week_14'],
      dtype='object', length=103)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,course,description,is_open,location,pk,time_accepted,time_closed,time_created,...,sem_week_6,sem_week_fallspringbreak,sem_week_7,sem_week_8,sem_week_9,sem_week_10,sem_week_11,sem_week_12,sem_week_13,sem_week_14
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,0,0,cos126,TOY decode program,False,NaN,8,2017-10-24 19:11:00,2017-10-24 19:45:00,2017-10-24 19:10:00,...,1,0,0,0,0,0,0,0,0,0
1,1,1,cos126,Program not printing output.,False,NaN,9,2017-10-24 19:16:00,2017-10-24 19:55:00,2017-10-24 19:16:00,...,1,0,0,0,0,0,0,0,0,0
2,2,2,cos126,TOY,False,NaN,10,2017-10-24 19:26:00,2017-10-24 19:40:00,2017-10-24 19:25:00,...,1,0,0,0,0,0,0,0,0,0
3,3,3,cos217,midterms,False,NaN,11,2017-10-24 19:33:00,2017-10-24 20:24:00,2017-10-24 19:33:00,...,1,0,0,0,0,0,0,0,0,0
4,4,4,cos217,midtermszn,False,NaN,12,2017-10-24 19:33:00,2017-10-24 19:52:00,2017-10-24 19:33:00,...,1,0,0,0,0,0,0,0,0,0

In [5]:
df.where(df["isSaturday"]==1).dropna()[0:10]

,Unnamed: 0,Unnamed: 0.1,course,description,is_open,location,pk,time_accepted,time_closed,time_created,...,sem_week_6,sem_week_fallspringbreak,sem_week_7,sem_week_8,sem_week_9,sem_week_10,sem_week_11,sem_week_12,sem_week_13,sem_week_14
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
4120,4120.0,4120.0,cos226,randomized queue,0.0,121,4129.0,2018-02-17 15:01:00,2018-02-17 15:01:00,2018-02-17 14:52:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4122,4122.0,4122.0,cos226,deques and randomized queues assignment - need...,0.0,121,4131.0,2018-02-17 15:01:00,2018-02-17 15:01:00,2018-02-17 14:57:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4123,4123.0,4123.0,cos217,problem with exit_failure,0.0,121,4132.0,2018-02-17 15:01:00,2018-02-17 15:04:00,2018-02-17 14:58:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4124,4124.0,4124.0,cos226,sever\r\ndeque,0.0,121,4133.0,2018-02-17 15:01:00,2018-02-17 15:19:00,2018-02-17 14:59:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4125,4125.0,4125.0,cos217,server,0.0,121,4134.0,2018-02-17 15:01:00,2018-02-17 15:36:00,2018-02-17 14:59:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4126,4126.0,4126.0,cos226,Password: server,0.0,121,4135.0,2018-02-17 15:01:00,2018-02-17 15:10:00,2018-02-17 14:59:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4127,4127.0,4127.0,cos217,help w spaces and new line character,0.0,122,4136.0,2018-02-17 15:02:00,2018-02-17 15:31:00,2018-02-17 15:00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4129,4129.0,4129.0,cos226,nullpointerexception,0.0,122,4138.0,2018-02-17 15:04:00,2018-02-17 15:21:00,2018-02-17 15:00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4130,4130.0,4130.0,cos226,PW: Server. Failing several tests relating to ...,0.0,121,4139.0,2018-02-17 15:04:00,2018-02-17 15:23:00,2018-02-17 15:01:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4131,4131.0,4131.0,cos226,server\r\n\r\nhelp with starting deques assign...,0.0,121,4140.0,2018-02-17 15:05:00,2018-02-17 15:16:00,2018-02-17 15:02:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.where(df["time_accepted"]==df["time_closed"]).dropna()

,Unnamed: 0,Unnamed: 0.1,course,description,is_open,location,pk,time_accepted,time_closed,time_created,...,sem_week_6,sem_week_fallspringbreak,sem_week_7,sem_week_8,sem_week_9,sem_week_10,sem_week_11,sem_week_12,sem_week_13,sem_week_14
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
3926,3926.0,3926.0,cos217,helpp,0.0,121,3935.0,2018-02-13 20:57:00,2018-02-13 20:57:00,2018-02-13 20:29:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3945,3945.0,3945.0,cos126,creating math.random numbers,0.0,121,3954.0,2018-02-13 21:56:00,2018-02-13 21:56:00,2018-02-13 21:45:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3953,3953.0,3953.0,cos126,error messages,0.0,121,3962.0,2018-02-13 22:16:00,2018-02-13 22:16:00,2018-02-13 22:14:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4003,4003.0,4003.0,cos126,assigment 1,0.0,121,4012.0,2018-02-14 21:52:00,2018-02-14 21:52:00,2018-02-14 21:48:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4026,4026.0,4026.0,cos126,I'm trying to figure out how to use arrays to ...,0.0,121,4035.0,2018-02-15 19:59:00,2018-02-15 19:59:00,2018-02-15 19:54:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19147,19147.0,19147.0,cos126,idk how to do this/I haven't started sorry,0.0,Lewis 122,19302.0,2019-03-24 21:16:00,2019-03-24 21:16:00,2019-03-24 20:50:00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19148,19148.0,19148.0,cos126,Chuck I need help,0.0,Lewis 122,19303.0,2019-03-24 21:40:00,2019-03-24 21:40:00,2019-03-24 20:59:00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19219,19219.0,19219.0,cos126,decoding,0.0,Lewis 122,19374.0,2019-03-25 20:34:00,2019-03-25 20:34:00,2019-03-25 20:33:00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19340,19340.0,19340.0,cos226,implementing range,0.0,Lewis 121,19495.0,2019-03-28 20:44:00,2019-03-28 20:44:00,2019-03-28 20:37:00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19373,19373.0,19373.0,cos126,lfsr,0.0,Lewis 121,19528.0,2019-03-28 22:50:00,2019-03-28 22:50:00,2019-03-28 22:29:00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
label_to_starting_hour = dict()
label_to_starting_hour["isMonday"] = 19
label_to_starting_hour["isTuesday"] = 19
label_to_starting_hour["isWednesday"] = 19
label_to_starting_hour["isThursday"] = 19
label_to_starting_hour["isFriday"] = 19
label_to_starting_hour["isSaturday"] = 15
label_to_starting_hour["isSunday"] = 17

In [8]:
def get_outliers():
    outlier_index = list()
    for k, v in label_to_starting_hour.items():
        outlier_index.append(df.where(df[k]==1).where(df["time_accepted"]==df["time_closed"]).where(df["time_created"].apply(get_hour) < v).dropna().index.values)
    return outlier_index

In [9]:
outliers = get_outliers()

In [10]:
drop_indexes = np.concatenate(outliers).ravel().tolist()

In [11]:
df = df.drop(drop_indexes)

In [12]:
df.where(df["isTuesday"]==1).where(df["time_accepted"]==df["time_closed"]).where(df["time_created"].apply(get_hour) < 19).dropna()

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, course, description, is_open, location, pk, time_accepted, time_closed, time_created, wait_time, help_time, TA_anon, student_anon, year, month, day, day_created, hour_accepted, minute_accepted, hour_created, minute_created, hour_closed, minute_closed, day_of_week, week_of_year, wait_time_in_minutes, help_time_in_minutes, Color, Marker, cos109, cos126, cos217, cos226, isMonday, isTuesday, isWednesday, isThursday, isFriday, isSaturday, isSunday, woy2, woy3, woy6, woy7, woy8, woy9, woy10, woy11, woy12, woy13, woy14, woy15, woy16, woy17, woy18, woy19, woy20, woy37, woy38, woy39, woy40, woy41, woy42, woy43, woy44, woy45, woy46, woy47, woy48, woy49, woy50, wait_time_90m_before_submit, wait_time_30m_before_submit, help_time_90m_before_submit, help_time_30m_before_submit, num_in_queue_before_us, time_created_floor, TAs_this_hour, day_before_217_due, day_of_217_due, day_before_226_due, day_of_226_due, day_before_126_due, day_of_126_due, assignment_due_next_day, assignment_due_day_of, more_TAs_than_queue, sem_week_1, sem_week_2, sem_week_3, sem_week_4, sem_week_5, sem_week_6, sem_week_fallspringbreak, sem_week_7, sem_week_8, sem_week_9, sem_week_10, sem_week_11, ...]
Index: []

[0 rows x 103 columns]

Additionally, we want to remove specific instances in the test data where the wait time of that individual was more than 2x every other person in that shift's wait time. This could correspond to students repeatedly putting themselves on the queue right after being helped. I manually searched for these pks.

In [13]:
pks_to_remove = [18392, 19049, 18774, 19011, 18974, 19051, 18798, 19210, 19328]
df = df.where(~df["pk"].isin(pks_to_remove)).dropna()

df.to_csv("labqueue_anon_1.csv")

In [14]:
assert len(drop_indexes) == 60